{% extends 'dashboard/dashboard.html' %}

{% block position %} fixed {% endblock position %}

{% block sub_body %}

<div class="jumbotronMine">
    <h1 class="display-6">You are Level : {{ request.user.userdetail.glevel }}</h1>
</div>

{% if doIHave %}
<div class="jumbotronMine"  style="background-color: #89f189;">
    <h1 class="display-5">Congratulation {{ request.user }} !!</h1>
    <hr class="my-4">
    <p class="lead">You have received your certificate.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <a class="btn btn-success btn-lg" href="achievement" role="button" style="float:right">View My Certificate</a>
    </form>
    <br>
    <br>
</div>
{% else %}
<div class="jumbotronMine">
    <h1 class="display-5">Level Up and get Certificate.</h1>
    <hr class="my-4">
    <p class="lead">Progress and get the certificate.</p>
    <a class="btn btn-primary btn-lg" href="welcomeCF" role="button" style="float:right">Begin</a>
    <br>
    <br>
</div>
{% endif %}

<div class="jumbotronMine" style="background-color: #bcdef9;">
    <h1 class="display-4">Overall Score!</h1>
    <hr class="my-4">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="lead">Attempts:</p>
                <h1 class="display-6">{{ atc }}</h1>
            </div>
            <div class="col-sm">
                <p class="lead">Correct:</p>
                <h1 class="display-6">{{ cc }}</h1>
            </div>
            <div class="col-sm">
                <p class="lead">Incorrect:</p>
                <h1 class="display-6">{{ icc }}</h1>
            </div>
        </div>
        <hr class="my-6">
        <center>
            <div class="row">
                <div class="col-sm">
                    <p class="lead">Percentage:</p>
                    <h1 class="display-6">{{ percent }}</h1>
                </div>
            </div>
        </center>
    </div>

</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mock Test</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary" href="mockinstruct">Mock Test</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Question Bank</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary" href="qbank">QBank</a>
            </div>
        </div>
    </div>
</div>

<br>

<br>
<br>
<br>


{% endblock sub_body %}